/* Ограничиваем максимальную ширину контента */
.container-fluid,
.container-fluid .row,
.container-fluid .col {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* Дополнительно для каталога, если добавишь класс book-row */
.row.book-row {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-link.active {
   font-weight: 600;
   color: #0d6efd !important;
   border-bottom: 2px solid #0d6efd;
}