.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 64px;
  padding: 0 8px;

  font-family: "New York", serif;
}

.top-bar-left,
.top-bar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-bar-logo img {
  width: 32px;
  height: 32px;
}

.top-bar-link {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  white-space: nowrap;
}

.top-bar-link:hover {
  text-decoration: underline;
}

.top-bar-icon img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
