.top-bar {
  height: 44px;
  background-color: #fff;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
}

.top-bar a {
  color: #252525;
  text-decoration: none;
  font-family: "New York", serif;
}

/* ВНУТРЕННИЙ КОНТЕЙНЕР ИЗ ДИЗАЙНА */
.buttons {
  width: 100%;
  max-width: 1440px;
  padding: 0 160px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ГРУППЫ КНОПОК */
.buttons-left,
.buttons-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ЛОГО */
.buttons-child {
  height: 34px;
  width: 34px;
}

/* ПОИСК */
.search-icon {
  height: 21px;
  width: 21px;
}

/* ОБЩИЙ СТИЛЬ КНОПОК */
.library,
.genres {
  height: 44px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  color: #252525;
  text-decoration: none;
  opacity: 0.8;
}

.library:hover,
.genres:hover {
  opacity: 1;
}

