{% load static %}

<div class="top-bar">

  <div class="buttons">

    <div class="buttons-left">
      <!-- логотип -->
      <a href="{% url 'pages:home' %}">
        <img src="{% static 'images/Component 2.svg' %}"
             alt="Логотип"
             class="buttons-child">
      </a>

      <a href="{% url 'books:catalog' %}" class="library">Библиотека</a>
      <a href="{% url 'books:genre_list' %}" class="genres">Жанры</a>
      <a href="{% url 'books:author_list' %}" class="genres">Авторы</a>
      <a href="{% url 'analytics:dashboard' %}" class="genres">Обзор</a>
      <a href="{% url 'pages:about' %}" class="genres">О проекте</a>
    </div>

    <div class="buttons-right">
      {% if user.is_authenticated %}
        <a href="{% url 'users:profile' %}" class="genres">
          Читательская карточка
        </a>
      {% else %}
        <a href="{% url 'users:login' %}" class="genres">
          Войти
        </a>
      {% endif %}
      <a href="{% url 'search:search' %}">
        <img src="{% static 'images/Search Icon.svg' %}"
             alt="Поиск"
             class="search-icon">
      </a>

    </div>

  </div>

</div>

